.tabla-cristo {
  border-collapse: collapse;
  border: 1px solid black;
}

.encabezado-tabla-cristo {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff0000;
}

.encabezado-cristo {
  background-color: #9dff00;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.nota1-cristo {
  background-color: lightcoral;
  color: #000000;
  font-size: 12px;
  text-align: left;
  border: 1px solid black;
}

.nota2-cristo {
  background-color: lightblue;
  color: #000000;
  font-size: 12px;
  text-align: left;
}

.nota3-cristo {
  background-color: lightpink;
  color: #000000;
  font-size: 12px;
  text-align: left;
}

.nota4-cristo {
  background-color: lightgoldenrodyellow;
  color: #000000;
  font-size: 12px;
  text-align: left;
}

.copyright-cristo {
  background-color: #ffffff;
  border: 0px solid black;
  color: #000000;
  font-size: 10px;
  text-align: center;
}
